<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>

<h1>Edit Post</h1>
<form th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="POST" th:object="${post}">
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" placeholder="Enter title">
    <label for="body">Body</label>
    <textarea th:field="*{body}" placeholder="Enter body"></textarea>
    <button class="btn btn-primary">Update Post</button>
</form>

<form th:action="@{|/posts/${post.id}/delete|}" th:method="POST">
    <button class="btn btn-danger">Delete Post</button>
</form>

</body>
</html>