<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('All Ads')">
    <meta charset="UTF-8">
</head>
<body>
    <nav th:replace="partials/navbar :: nav"></nav>
    <header th:replace="partials/header :: header('Welcome to the Codeup Blog!')"></header>

    <main class="container">
        <h1>Latest ads</h1>
        <div sec:authorize="isAuthenticated()">
            This content is only shown to authenticated users.

            User ID: <span th:text="${#authentication.principal.id}"/>
            Username: <span th:text="${#authentication.principal.username}"/>
            Email: <span th:text="${#authentication.principal.email}"/>
        </div>
        <div class="card" th:each="ad : ${ads}">
            <h3 class="text-center" th:text="${ad.title}"></h3>
            <p th:text="${ad.description}"></p>
        </div>
    </main>

    <footer th:replace="partials/partials :: footer"></footer>
    <th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>