<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:fragment="nav">
        <ul class="nav bg-dark">
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/}">Codeup Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/posts}">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/posts/create}">Create Posts</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link text-light" th:href="@{/sign-up}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</body>
</html>